.alert-container {
  position: relative;
  margin-top: 80px;
  margin-left: 150px;
  width: 210px;
  height: 115px;
}

.alert-top,
.alert-right,
.alert-bottom,
.alert-left {
  position: absolute;
  display: inline-block;
}

.alert-top {
  left: 70px;
}

.alert-right {
  left: 139px;
  top: 36px;
}

.alert-bottom {
  top: 80px;
  left: 60px;
}

.alert-left {
  top: 38px;
}
